{% with user.get_profile as user_profile %}{% if user_profile.is_male %}
Kæri {{ first_name }}{% else %}
Kæra {{ first_name }}{% endif %}
Þú hefur fengið nýtt lykilorð:
	{{ password }}
Notaðu það með HÍ notandanafninu þínu til þess að skrá þig inn á [heimasíðu félagsins](http://stigull.rhi.hi.is).
Breyttu síðan lykilorðinu í eiginrúminu.

Ef þú lendir í einhverjum vanda, hafðu þá samband á
stigull@hi.is
Kveðja
Stjórnin

|------------------------- ENGLISH  -------------------------|

Dear {{ user.first_name }}
Here is your new password:
	{{ password }}
Use it to log on to the website, then go to 'Eiginrúm' and change 
the password by selecting 'Breyta lykilorði' on the left.
If there is a problem please contact us at
stigull@hi.is
Greetings
Stjórnin
{% endwith %}