<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="{{ LANGUAGE_CODE }}" xml:lang="{{ LANGUAGE_CODE }}">
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
    <title>{% block title %}{{ info_name }}{% endblock %}</title>

    <link href="{% url feeds url="nyjustu-frettir" %}" rel="alternate" type="application/rss+xml" title="Nýjustu fréttir frá félaginu" />
    <link rel="icon" type="image/png" href="/skrar/favicon.ico" />
    {% load i18n %}
    {% load templatetools %}
    {% load compressed %}
    {% load navigation_tags %}
    {% load profile_tags %}
    {% load phonebook_tags %}
    {% load news_tags %}
    {% load events_tags %}
    {% load calendar_tags %}

    {% compressed_css 'stigull' %}
    {% block css %}{% compressed_css 'frontpage' %}{% endblock %}

    {% compressed_js 'jquery' %}
    {% compressed_js 'all' %}
    {% block js %}{% endblock %}
</head>
{% block body %}
<body>
<div id="centering-wrapper">
    {% block header %}
    <div id="header">
        <div id="clock">{% now "H:i:s" %}</div>
        <h1>{% if info_name %}{% conditional_href info_name 'index' %}{% endif %}</h1>
        <a id="disability-shortcut" href="#content">{% trans 'Beint í meginmál' %}</a>
    </div>
    {% endblock %}

    <div id="user-area">
    {% user_area %}
    {% login_or_logout_form request.path %}
    </div>

    <div id="navigation">
    <h1>{% trans 'Leiðatré' %}</h1>
    {% navigation_menu %}
    </div>


    <div id="content">
    {% block content %}
    {% display_latest_important_entries %}
    {% display_latest_entries 0 5 %}
    {% endblock %}
    </div>

    <div id="alt-content">
    {% block alt_content %}
    <h1>Dagatal</h1>
    {% get_calendar %}
    {% endblock %}
    </div>

    <div id="alt-content-2">
    <h1>Leit í símaskrá</h1>
    {% phonebook_search_form %}
    <hr />
    {% block alt_content_2 %}
    {% get_latest_events %}
    {% endblock %}
    </div>

    <div id="footer">
    &copy;{% copyright %} {{ info_name }} - {% with info_email as email %}{% include 'snippets/email_href.html' %}{% endwith %}
    </div>
</div>
</body>{% endblock %}
</html>
